# Dependencies
node_modules/
.pnp
.pnp.js

# Builds / output
dist/
build/
.next/
out/
*.tsbuildinfo

# Env
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caches / misc
.cache/
.turbo/
coverage/
.vercel

# OS / editor
.DS_Store
*.pem
*.swp
*.swo
.idea/
